.banner{
    background-image: url("../img/banner1.jpg");
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25%;
}

.menu{
    background-color:rgb(22, 22, 95);
}

.fondoE{
    background:linear-gradient(white, rgba(1, 1, 79, 0.962));
    padding: 30px;    
}

.fondoP{
    background:linear-gradient(white, rgb(77, 9, 77));
    padding: 30px;    
}


h4, h1{
    text-align: center;
}

p{
    padding: 10px;
}